@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-midnight: #34353b;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-primary: #34353b;

  --font-family-sans: "Inter", sans-serif;
  --font-primary: "", sans-serif;
}
